/* VARIABLES */

:root {
  --main-color: #1a8fff;
  --text-color: #777;
  --text-color-light: #ccc;
  --border-color: #eee;
  --bg-color: #f1f1f1;
  --neutral-color: #fff;
  --hovering-color: rgb(255, 45, 85);
  --big-title-color: rgb(98, 96, 250);
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  position: relative;
}

.header {
  text-align: center;
  padding: .2em;
  border-bottom: 1px solid var(--border-color);
  background: var(--neutral-color);
  margin-bottom: .5em;
  border-bottom-color: var(--text-color-light);
  box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.2);
  -webkit-animation: color-change 15s infinite;
  -moz-animation: color-change 15s infinite;
  -o-animation: color-change 15s infinite;
  -ms-animation: color-change 15s infinite;
  animation: color-change 15s infinite;
  box-shadow: 0 2px 3px rgba(0,0,0,.3);
  border: 0;
  border-top: 5px solid #000;
  border-image: linear-gradient(90deg,#12bdfd,#9f79f3) 6
}

.moonlogo {
  width: 1em;
  height: auto;
  margin-bottom: .2em;
}

ul {
  padding: 15px;
  background-color: #fff;
  height: 700px;
  overflow: scroll;
  border-radius: 6px;
  box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

li {
  cursor: pointer;
  text-align: center;
  list-style-type: none;
  color: var(--text-color);
  padding: .75em 0 .75em 0;
}

li:hover {
  -webkit-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 46px 0px rgba(0, 0, 0, 0.2);
  color: var(--main-color)
}

.active {
  color: var(--hovering-color) !important
}

.col-md-8 {
  padding: 0 20px 0 20px !important;
}

.col-md-4 {
  padding-left: 50px !important
}

.title-video {
  text-align: center;
  font-size: 1.3em;
  font-weight: 800;
  margin-bottom: 0;
  color: var(--big-title-color)
}

@-webkit-keyframes color-change {
  0% {
    color: #E83681;
  }
  8.3% {
    color: #F8DA59;
  }
  16.6% {
    color: #00a73d;
  }
  25% {
    color: orange;
  }
  33.3% {
    color: pink;
  }
  41.5% {
    color: red;
  }
  50% {
    color: blue;
  }
  58.1% {
    color: blueviolet;
  }
  66.4% {
    color: rgb(103, 24, 24);
  }
  74.7% {
    color: rgb(255, 170, 95);
  }
  91% {
    color: rgb(3, 221, 170);
  }
  100% {
    color: black;
  }
}

@-moz-keyframes color-change {
  0% {
    color: #E83681;
  }
  8.3% {
    color: #F8DA59;
  }
  16.6% {
    color: #00a73d;
  }
  25% {
    color: orange;
  }
  33.3% {
    color: pink;
  }
  41.5% {
    color: red;
  }
  50% {
    color: blue;
  }
  58.1% {
    color: blueviolet;
  }
  66.4% {
    color: rgb(103, 24, 24);
  }
  74.7% {
    color: rgb(255, 170, 95);
  }
  91% {
    color: rgb(3, 221, 170);
  }
  100% {
    color: black;
  }
}

@-ms-keyframes color-change {
  0% {
    color: #E83681;
  }
  8.3% {
    color: #F8DA59;
  }
  16.6% {
    color: #00a73d;
  }
  25% {
    color: orange;
  }
  33.3% {
    color: pink;
  }
  41.5% {
    color: red;
  }
  50% {
    color: blue;
  }
  58.1% {
    color: blueviolet;
  }
  66.4% {
    color: rgb(103, 24, 24);
  }
  74.7% {
    color: rgb(255, 170, 95);
  }
  91% {
    color: rgb(3, 221, 170);
  }
  100% {
    color: black;
  }
}

@-o-keyframes color-change {
  0% {
    color: #E83681;
  }
  8.3% {
    color: #F8DA59;
  }
  16.6% {
    color: #00a73d;
  }
  25% {
    color: orange;
  }
  33.3% {
    color: pink;
  }
  41.5% {
    color: red;
  }
  50% {
    color: blue;
  }
  58.1% {
    color: blueviolet;
  }
  66.4% {
    color: rgb(103, 24, 24);
  }
  74.7% {
    color: rgb(255, 170, 95);
  }
  91% {
    color: rgb(3, 221, 170);
  }
  100% {
    color: black;
  }
}

@keyframes color-change {
  0% {
    color: #E83681;
  }
  8.3% {
    color: #F8DA59;
  }
  16.6% {
    color: #00a73d;
  }
  25% {
    color: orange;
  }
  33.3% {
    color: pink;
  }
  41.5% {
    color: red;
  }
  50% {
    color: blue;
  }
  58.1% {
    color: blueviolet;
  }
  66.4% {
    color: rgb(103, 24, 24);
  }
  74.7% {
    color: rgb(255, 170, 95);
  }
  91% {
    color: rgb(3, 221, 170);
  }
  100% {
    color: black;
  }
}